<html>

<head>
    <title>Meetings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>


<body>
    <div id="root"></div>
    <div class="back-to-dashboard">
        <a href="#" onClick="MyWindow=window.open('http://127.0.0.1:5000/notepad','MyWindow','width=450px,height=550px'); return false;">Notepad</a>

        <a href="{{ url_for('client') }}" style="text-decoration: none;">
            <button>Back to Cases</button>
        </a>
    </div>
    <button id ="start">Start</button>
    <button id ="stop">Stop</button>

    <script src="{{url_for('static',filename='scripts/index.js')}}"></script>
</body>
<script src="https://unpkg.com/@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>
<script>
window.onload = function () {
    function getUrlParams(url) {
        let urlStr = url.split('?')[1];
        const urlSearchParams = new URLSearchParams(urlStr);
        const result = Object.fromEntries(urlSearchParams.entries());
        return result;
    }


    const roomID = getUrlParams(window.location.href)['roomID'] || (Math.floor(Math.random() * 10000) + "");
    const userID = Math.floor(Math.random() * 10000) + "";
    const userName = "{{username}}";
    const appID = 2071595253;
    const serverSecret = "44155dbb1cbab1134fd34ec182643405";
    const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(appID, serverSecret, roomID, userID, userName);


        const zp = ZegoUIKitPrebuilt.create(kitToken);
        zp.joinRoom({
            container: document.querySelector("#root"),
            sharedLinks: [{
                name: 'Personal link',
                url: window.location.protocol + '//' + window.location.host  + window.location.pathname + '?roomID=' + roomID,
            }],
            scenario: {
                mode: ZegoUIKitPrebuilt.VideoConference,
            },

           	turnOnMicrophoneWhenJoining: true,
           	turnOnCameraWhenJoining: true,
           	showMyCameraToggleButton: true,
           	showMyMicrophoneToggleButton: true,
           	showAudioVideoSettingsButton: true,
           	showScreenSharingButton: true,
           	showTextChat: true,
           	showUserList: true,
           	maxUsers: 5,
           	layout: "Auto",
           	showLayoutButton: true,

            });
}
</script>

</html>